<header id="header"
        class="header-effect-shrink"
        data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 30}">
    <div class="header-body">

        <!-- Top Header -->
        <div class="header-top">
            <div class="header-top-container container">
                <div class="header-row">

                    <!-- Left part of Top Header -->
                    <div class="header-column justify-content-start">
                        {{>topHeaderBrand   company=company fileName="brand-with-logo.svg"}}
                        {{>topHeaderPhone   phone=company.phone}}
                        {{>topHeaderAddress address=company.address}}
                        {{>topHeaderEmail   email=company.email}}
                    </div>

                    <!-- Right part of Top Header -->
                    <div class="header-column justify-content-end">
                        {{>topHeaderSocials company=company}}
                    </div>

                </div>
            </div>
        </div>

        <!-- Menu -->
        <div class="header-container p-0">
            <div class="header-row">
                <div class="header-column justify-content-end">
                    <div class="header-nav justify-content-center">
                        <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                            <nav class="collapse">

                                <!-- Menu Content -->
                                <ul class="nav flex-column flex-lg-row" id="mainNav">
                                    {{>menuLink     title="Home"        href="/"    order=1}}
                                    {{>menuDropdown data=website.menu.services      order=2}}
                                    {{>menuLogo     fileName="logo.svg" href="/"    order=3}}
                                    {{>menuDropdown data=website.menu.contact       order=4}}
                                    {{>menuLink     title="Bar"         href="foo"  order=5}}
                                </ul>

                            </nav>
                        </div>

                        {{>menuHamburgerButton}}

                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
