<li class="d-none d-lg-flex order-{{order}}">
    <span class="header-logo border-0">
        <a href="{{href}}">
            <img src="img/{{fileName}}" width="75" height="50" alt="" />
        </a>
    </span>
</li>
