<button class="header-btn-collapse-nav ml-3" data-toggle="collapse" data-target=".header-nav-main nav">
    <span class="hamburguer"><span></span><span></span><span></span></span>
    <span class="close"><span></span><span></span></span>
</button>
