<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{#default title company.name}}{{/default}}</title>
</head>

<body>
    {{{ contents }}}

    {{#if watchEnabled}}
        <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</body>

</html>
